# ignore setup.py build/dist output
/build/*
/dist/*
/*.egg-info/*
# __pycache__, emacs autosave files, shared objects, vs code settings
**/__pycache__
**/*~
**/*.so
/.vscode
# ignore sphinx build output, libcheck test runner, unused tools directory
/doc/_build/*
/runner
/tools
# other random files to ignore
/test
/test.c
/.lessons.rst
# ignore libcheck testing directory and docs directory
/check
/doc