# ignore setup.py build/dist output
/build/*
/dist/*
/*.egg-info/*
# __pycahce__, emacs autosave files, shared objects, vs code settings
**/__pycache__
**/*~
**/*.so
/.vscode
# ignore sphinx build output
/doc/_build/*
# ignore libcheck test runner
/runner
# other random files to ignore
/test
/test.c
/.lessons.rst